<%- include("partials/header.ejs") %>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="#"><span><i class="fas fa-virus test"></i></span></i><span class="test2">COVID-19</span></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

        </div>
    </nav>

    <div>
        <div class="jumbotron jumbotron-fluid">
            <div class="container">
                <h1 class="display-4">CORONAVIRUS</h1>

                <h4>STAY AT HOME</h4>
                <h4>SAVE LIVES</h4>


            </div>
        </div>
    </div>

    <section class="container-fluid ">
        <div id="test3">
            <h3 class="prevention">Coronavirus disease (COVID-19) technical guidance: Infection prevention and control / WASH :-</h3>

            <div class="container">
                <ul class="ul1">
                    <li>Infection prevention and control</li>
                    <li>Early investigation</li>
                    <li>case management</li>
                    <li>National laboratories</li>
                    <li>Infection prevention and control .....</li>
                </ul>

            </div>
            <a class="btn btn-danger btn-lg " href="https://www.who.int/emergencies/diseases/novel-coronavirus-2019/technical-guidance/infection-prevention-and-control " role="button ">Learn more</a>



        </div>

    </section>



    <%- include("partials/footer.ejs") %>