<%- include("partials/header.ejs") %>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="#"><span><i class="fas fa-virus test"></i></span></i><span class="test2">COVID-19</span></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="/country">Status <span class="sr-only">(current)</span></a>
                </li>

            </ul>
        </div>

        </div>
    </nav>

    <div>
        <div class="jumbotron jumbotron-fluid">
            <div class="container">
                <h1 class="display-4">CORONAVIRUS</h1>

                <h4>STAY AT HOME</h4>
                <h4>SAVE LIVES</h4>


            </div>
        </div>
    </div>

    <section class="container-fluid ">
        <div id="test3">
            <h3 class="prevention">Infection prevention and control / WASH :-</h3>

            <div class="container">
                <ul class="ul1">
                    <li>Infection prevention and control</li>
                    <li>Early investigation</li>
                    <li>case management</li>
                    <li>National laboratories</li>
                    <li>Infection prevention and control .....</li>
                </ul>

            </div>
            <a class="btn btn-danger btn-lg " href="https://www.who.int/emergencies/diseases/novel-coronavirus-2019/technical-guidance/infection-prevention-and-control " role="button ">Learn more</a>



        </div>

    </section>


    <section class="container-fluid ">
        <div id="test3">
            <h3 class="prevention">Guidance for schools, workplaces & institutions</h3>

            <div class="container">
                <ul class="ul1">
                    <li>Food safety</li>
                    <li>Prevention and Control in Schools </li>
                    <li>IPC guidance for long-term care facilities in the context of COVID-19 . . .</li>
                </ul>

            </div>
            <a class="btn btn-danger btn-lg " href="https://www.who.int/emergencies/diseases/novel-coronavirus-2019/technical-guidance/guidance-for-schools-workplaces-institutions" role="button ">Learn more</a>



        </div>

    </section>

    <section class="container-fluid ">
        <div id="test3">
            <h3 class="prevention">Points of entry and mass gatherings</h3>

            <div class="container">
                <ul class="ul1">
                    <li>Management of ill travellers at Points of Entry</li>
                    <li>Mass gatherings COVID-19 risk assessment</li>
                    <li>Handbook for the management of public health events on board ships</li>
                    <li>Public health preparedness and response for maritime sector ....
                    </li>
                </ul>

            </div>
            <a class="btn btn-danger btn-lg " href="https://www.who.int/emergencies/diseases/novel-coronavirus-2019/technical-guidance/points-of-entry-and-mass-gatherings" role="button ">Learn more</a>



        </div>

    </section>





    <%- include("partials/footer.ejs") %>